includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
  level: 5
  tmpDir: storage/framework/cache/phpstan
  checkModelProperties: true
  bootstrapFiles:
    - bootstrap/app.php
